<section class="bg-pink-200 min-h-screen flex items-center justify-center py-20 px-6">
  <div class="bg-white shadow-lg rounded-xl p-10 w-full max-w-md">
    <h1 class="text-3xl font-bold text-black mb-6 text-center">Welcome Back 👋</h1>

    <%= form_with(url: login_path, local: true) do |f| %>
      <div class="mb-4">
        <%= label_tag :email, "Email", class: "block mb-1 text-gray-800" %>
        <%= text_field_tag :email, nil, class: "w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-pink-400" %>
      </div>

      <div class="mb-6">
        <%= label_tag :password, "Password", class: "block mb-1 text-gray-800" %>
        <%= password_field_tag :password, nil, class: "w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-pink-400" %>
      </div>

      <%= submit_tag "Login", class: "cursor-pointer w-full bg-black text-white py-3 rounded-full hover:bg-gray-800 transition" %>
    <% end %>

    <div class="text-center mt-6">
      <p class="text-sm text-gray-700">Don't have an account?</p>
      <%= link_to 'Sign Up', signup_path, class: "text-pink-600 font-medium hover:underline" %>
    </div>
  </div>
</section>
